<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpqNbqECVTDp9jrfrnM8Yg5N8MZnQT3bM</string>
	<key>GCM_SENDER_ID</key>
	<string>169917436261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docdoc</string>
	<key>PROJECT_ID</key>
	<string>docdoc-cb316</string>
	<key>STORAGE_BUCKET</key>
	<string>docdoc-cb316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:169917436261:ios:40fb0177d7834a1efad18c</string>
</dict>
</plist>